body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer {
	display: flex;
	justify-content: center;
}

.footer button {
	font-size: 20px;
	border-radius: 10px;
	border: none;
	padding: 13px;
	margin: 3rem 0 3rem 0;
}
.custom-link{
        font-size: 20px;
	border-radius: 10px;
	border: none;
	padding: 13px;
	margin: 3rem 0 3rem 0;
	text-decoration:none;
	color:buttontext;
	background-color:buttonface;
}
